*.o
*.cmd
*.su
src/uboot/src/.config
src/uboot/src/.u-boot.cfg.d
src/uboot/src/System.map
src/uboot/src/arch/arm/lib/asm-offsets.s
src/uboot/src/arch/arm/lib/lib.a
src/uboot/src/board/freescale/mx6ullevk/imximage.cfg.cfgtmp
src/uboot/src/include/config/
src/uboot/src/include/generated/
src/uboot/src/lib/asm-offsets.s
src/uboot/src/u-boot
src/uboot/src/u-boot-nodtb.bin
src/uboot/src/u-boot.bin
src/uboot/src/u-boot.cfg
src/uboot/src/u-boot.imx
src/uboot/src/u-boot.lds
src/uboot/src/u-boot.map
src/uboot/src/u-boot.srec
src/uboot/src/u-boot.sym
