*.o
*.cmd
*.su
src/.config
src/.u-boot.cfg.d
src/System.map
src/arch/arm/lib/asm-offsets.s
src/arch/arm/lib/lib.a
src/board/freescale/mx6ullevk/imximage.cfg.cfgtmp
src/include/config/
src/include/generated/
src/lib/asm-offsets.s
src/u-boot
src/u-boot-nodtb.bin
src/u-boot.bin
src/u-boot.cfg
src/u-boot.imx
src/u-boot.lds
src/u-boot.map
src/u-boot.srec
src/u-boot.sym
